/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
}

strong {
  font-weight: none;
}

em {
  font-style: normal;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/******Header*****/
/* space du logo et du menu */
.booki-header {
  display: flex;
  justify-content: row;
  justify-content: space-between;
}

/* le logo en rangé */
header ul {
  display: flex;
  justify-content: row;
  padding-left: 0;
}

/* les points bien réparti */
header li {
  list-style: none;
  margin-left: 50px;
  border-top: 1px solid transparent;
  padding-top: 4px;
}

/* survol des menus */
header li:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}


/****** Titres d'accroches *********/

.supertitle h1 {
  flex-wrap: wrap;
  margin-bottom: 20px;

}

.supertitle p {
  font-weight: thin;
}

nav i {
  margin-right: 20px;
}

/****** Formulaires recherches  ********/

.search-location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/*  le logo localisation */
.search-location label {
  background-color: #f2f2f2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 5px;
}

/*  le champ de recherche */
.search-location input {
  appearance: none;
  margin: 0px;
  border: transparent;
  padding: 0px;
  width: 250px;
  height: 35px;
  font-weight: bold;
  border-top: solid 0.5px #deebff;
  border-bottom: solid 0.5px #deebff;
  text-align: center;
}

/* le bouton recherche */
.search-location button {
  background-color: #0065fc;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: medium;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 0px;
}

.search-location button p {
  margin: 5px;
  color: white;
  font-weight: bold;
}

.search-location button i {
  display: none;
  margin: 5px;
}

/****** formulaires filtres ******/

/* mettre tous les filtres alignés avec le bouton */
.filter {
  display: flex;
  justify-content: row;
  flex-wrap: wrap;
}

/* j'aligne aussi les puces de mes listes */
.filter ul {
  display: flex;
  justify-content: row;
  padding-left: 0;
  flex-wrap: wrap;
}

.filter-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: solid 1px grey;
  border-radius: 30px;
  align-items: center;
  padding-right: 5px;
  padding-left: 10px;
  margin: 5px;
}

.filter-button:hover {
  cursor: pointer;
  background-color: #deebff;
}

.filter-button p {
  margin: 5px 20px 5px 10px;
  padding: 5px;
}

.head-filter {
  margin-right: 20px;
}

/* j'enlève les puces par défaut et je les réparti */
.filter li {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 5px 0 0;
  font-weight: bold;
}

/*  les résultats  */
.result {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.result p {
  margin: 0px;
}

/* il existe un logo pro avec le cercle gris autour, je n'ai pas de compte pro */
.result i {
  margin: 0 30px 0 0;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: row;
  gap: 20px;
}

.hebergements {
  flex: 2;
}

.populaires {
  flex: 1;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements-title {
  margin-bottom: 20px;
}

.hebergements {
  display: flex;
  justify-content: row;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Je modifie la taille de l'image dans les résultats de recherche */
.hebergements img {
  height: 50%;
  width: 225px;
  object-fit: cover; /*Pour que l'image soit entièrement dans le conteneur*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements .gird-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-right: 0;
  gap: 15px;}

.hebergements .card {
  display: flex;
  flex-direction: column;
  height: 225px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/******* Activites ********/

/*  la marge pour le titre */
.activites-title {
  margin-bottom: 20px;
}

/* la taille de la carte */
/*  div qui contient l'image en 20 %   à faire */
.activites {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  width: 100%;
}

.activites .card {
  width: 22%; /* Définir la largeur des cartes (25% de la largeur totale moins les marges) */
  min-width: 200px;
  margin: 5px;
  border-radius: 20px;
  overflow: hidden; /* Assurer que les images ne débordent pas des cartes */
}

.activites .img {
  width: 100%; /* Définir la largeur de l'image à 100% du conteneur parent */
  height: 400px; /* Définir la hauteur de l'image (ajustez selon vos besoins) */
  overflow: hidden; /* Assurer que l'image reste à l'intérieur du conteneur */
}

.activites .img img {
  width: 100%; /* Assurer que l'image s'adapte à la largeur du conteneur */
  height: 100%; /* Assurer que l'image s'adapte à la hauteur du conteneur */
  object-fit: cover; /* Ajuster l'image pour remplir le conteneur tout en conservant ses proportions */
  border-top-left-radius: 20px; /* Ajouter les bordures arrondies */
  border-top-right-radius: 20px; /* Ajouter les bordures arrondies */
}

/* Styles supplémentaires pour le contenu de la carte (titre, etc.) */
.activites .card-content {
  padding: 20px;
}

.activites .card-title {
  margin: 0;
}


/******  le pied de page *******/
/*  je mets le footer en bas */
footer {
  max-width: 1440px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer li {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: 10px;
  padding-left: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .head-filter {
    order: -1;
    width: 100%;
  }
  .activites .img {
    height: 200px;
  }
}

/**** Small devices (phones, less than 768px) *****/

@media (max-width: 767.98px) {


  .populaires {
    width: 100%;
    order: -1;
  }
  
  .populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .populaires-cards .card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 33px;
  }
  
  .populaires-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .populaires-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }
  
  .populaires-cards .card-subtitle {
    margin: 0;
  }
  /***** Header nav *****/



  /* on passe en menu vertical avec le logo et centré */
  .booki-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* il n'y a pas de survol sur mobile apriori. mais quand même */

/* survol des menus */
header li:hover {
  border-top: transparent;
  border-bottom: 2px solid #0065fc;
  color: #0065fc;
}

  /* inversion de la marge pour garder le centre */
  header li {
    margin-left: 0px;
    padding: 20px;
  }

  .filter {
    flex-direction: column;
    margin-top: 10px;
  }

  /* Le média queries qui enlève rechercher et mettent la loupe */
  .search-location button i {
    display: flex;
  }

  .search-location button p {
    display: none;
  }

  .form-location ul {
    display: flex;
    justify-content: row;
    margin-right: 30px;
  }

  /**** hebergements  *****/
  .hebergements-and-populaires section {
    background-color: white;
  }
  .hebergements-and-populaires .populaires { background-color: #f2f2f2;}

  /******* activites *****/
  .activites {
    display: flex;
    justify-content: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  /* Je modifie la taille de l'image dans les résultats de recherche */
  ..activites img {
    height: 50%;
    width: 100%;
    object-fit: cover; /*Pour que l'image soit entièrement dans le conteneur*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .activites .img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-right: 0;
    gap: 15px;}
  
  .activites .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 225px;
  }

/**** pied de page *****/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}